<div ng-class="$ctrl.styles.welcome">
  <h1>Photo Album Application</h1>
  <h2><a href="http://whatamidoingwithmy.life" target="_blank"/>By Danielle Heberling</a></h2>
  <p>
    This is an application where users can create, read, update, and delete both photo albums and individual photos within the album.
  </p>
  <div>
    <p>
      Full stack JavaScript application using MongoDB, Express, AngularJS, Node.js
    </p>
    <h3>
      <a href="https://github.com/deeheber/image-gallery">Source code</a>
    </h3>
  </div>
  <p>
    I hope you enjoy!
  </p>
</div>
