<section ng-class="$ctrl.styles.updateImage">
  <!-- Error Message -->
  <div id="error" ng-show="$ctrl.isInvalid">
    <p>Information must be different from the original and can't be blank.</p>
  </div>
  <!-- Form -->
  <form ng-submit="$ctrl.submit()">
    <md-input-container>
      <input placeholder="Title" ng-model="$ctrl.image.title">
    </md-input-container>
    <md-input-container>
      <input placeholder="Description" ng-model="$ctrl.image.description">
    </md-input-container>
    <md-input-container>
      <input placeholder="Image URL" ng-model="$ctrl.image.link">
    </md-input-container>
    <div>
      <md-button type="submit">Send</md-button>
    </div>
  </form>
</section>
