<div ng-class=$ctrl.styles.radioButtons>
  <md-radio-group ng-model="$ctrl.display" layout="row" layout-align="center center">
    <md-radio-button class="md-primary" value="list" aria-label="list" ng-click="$ctrl.viewChange()">
      List
    </md-radio-button>
    <md-radio-button class="md-primary" value="thumbnail" aria-label="thumbnail" ng-click="$ctrl.viewChange()">
      Thumbnail
    </md-radio-button>
    <md-radio-button class="md-primary" value="gallery" aria-label="gallery" ng-click="$ctrl.viewChange()">
      Gallery
    </md-radio-button>
  </md-radio-group>
</div>
