:local(.full) {
  .browseCtrls {
    width: 304px;
    margin: 20px auto;
  }

  button {
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px #666 solid;
    outline: none;
    margin: 0 10px;
    width: 130px;
  }

  .full {
    width: 100%;
    height: auto;
  }
}
