<div ng-class=$ctrl.styles.listAlbums>
  <h1>Select Album</h1>
<!-- List of albums -->
  <section id="list">
      <div ng-repeat="album in $ctrl.albums">
        <a ui-sref="view-album({albumId: album._id, display: 'list'})">{{album.title}}</a>
          <md-button ng-click="showWarning=!showWarning">Delete</md-button>

          <!-- Warning message when deleting an album -->
          <div ng-show="showWarning">
            <p class="confirmMessage">Are you sure you want to delete this album?</p>
              <md-button ng-click="$ctrl.remove(album._id)">Confirm Delete</md-button>
              <md-button ng-click="showWarning=false">Keep Album</md-button>
          </div>
      </div>
  </section>

<!-- Add album form -->
  <section>
    <add-album-form add=$ctrl.add></add-album-form>
  </section>
</div>
